img {
    width: 100px;
    border: 2px solid;
    border-color: tomato;
    border-radius: 5px;
    box-shadow: 10px;
}
.high{
    background-color:  rgb(206, 186, 13);
    width: 180px;
    box-shadow: 20px;
}
.lorem{
    background-color: brown;
    width: 200px;
    border: 5px solid;
    background-color: rgb(224, 106, 9);
    box-shadow: 20px;
    border-radius: 5px;
    padding: 8px;
}
#l{
    font-size: larger;
    font-style: italic;
    font-weight: bolder;
}